---
import DigestifyIcon from "../icons/DigestifyIcon.astro";
---

<header>
  <nav class="w-full flex items-center gap-8 px-4 py-3 border-b border-neutral-200">
    <div class="flex gap-2 items-center">
      <DigestifyIcon class="w-10 h-10 text-primary" />
      <span class="text-2xl font-semibold font-custom lowercase cursor-default">Digestify</span>
    </div>
    <!-- <div class="">
      <a href="" class="text-xl">Encrypt</a>
    </div> -->
  </nav>
</header>
